[Unit]
Description=Home Network Hostname & Key Retrieval API
After=network.target

[Service]
User=bobrock
Group=www-data
WorkingDirectory=/home/bobrock/extras/luks
Environment="PATH=/home/bobrock/venvs/luks/bin"
ExecStart=/home/bobrock/venvs/luks/bin/uwsgi --ini luks.ini

[Install]
WantedBy=multi-user.target