# Removed this from requirements - I think maybe the difference b/w the package name (w/o hyphen) and
#   the repo name (w/ hyphen) causes some conflict when called via update_script.sh.
#   This is now handled in the direct dependency update section of update_script.
#diceware @ git+https://github.com/barretobrock/diceware-ee@master#egg=diceware
easylogger @ git+https://github.com/barretobrock/easylogger@main#egg=easylogger
Flask>=1.1.2
flask-wtf
kavalkilu @ git+https://github.com/barretobrock/kavalkilu@master#egg=kavalkilu
pykeepass
requests>=2.25.1
versioneer
WTForms