{% extends 'base.html' %}

{% block content %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function () {
            $('#hosts-table').DataTable({
                "pageLength": 100,
                "order": [[2, 'asc']]
            });
        });
    </script>
    <div>
        <table class="table table-bordered" id="hosts-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in hosts_list %}
                <tr>
                    <td>{{ entry['name'] }}</td>
                    <td>{{ entry['machine_type'] }}</td>
                    <td>{{ entry['ip'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total: {{ hosts_list|length }} </td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}