{% extends 'base.html' %}

{% block content %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.js"></script>
    <script>
        function copyToClipboard(copyText) {
            // Tries to copy to clipboard using nagivator.clipboard (only works over secure context like HTTPS),
            //  otherwise uses other means
            if (navigator.clipboard && window.isSecureContext) {
                // navigator clipboard api method
                return navigator.clipboard.writeText(copyText);
            } else {
                // otherwise we'll use a text area method
                let textArea = document.createElement('textarea');
                textArea.value = copyText;
                // make textarea out of viewport
                textArea.style.position = 'fixed';
                textArea.style.left = '-999999px';
                textArea.style.top = '-999999px';
                document.body.append(textArea);
                textArea.select();
                return new Promise((res, rej) => {
                    document.execCommand('copy') ? res() : rej();
                    textArea.remove();
                });
            }
        }
    </script>
    <script>
        {% set col, direction = order_list %}
        let tbl_id_name = '#{{ tbl_id_name }}';
        let direction = 'asc'
        $(document).ready(function () {
            $(tbl_id_name).DataTable({
                "pageLength": 100,
                "order": [[{{ col }}, '{{ direction }}']],
            });
            $('.copyable').each(function(index) {
                $(this).on('click', function () {
                    let copyText = this.innerText;
                    copyToClipboard(copyText)
                        .then(() => console.log('Copied text.'))
                        .catch(() => console.log('Error when attempting to copy text.'))
                    let orig_color = this.style.backgroundColor;
                    console.log('Setting bg color..');
                    this.style.backgroundColor = '#00AF71FF';
                    setTimeout(function () {
                        console.log('Waiting..');
                        console.log('Returning bg color to original state..');
                        this.style.backgroundColor = orig_color;
                    }.bind(this), 300)
                })
            })
        });

    </script>

    {% if reload_endpoint %}
        <ul class="nav justify-content-end mt-1 mb-1">
            <li class="nav-item">
                <a class="btn btn-warning" href="{{ url_for(reload_endpoint) }}" role="button" >Reload {{ reload_endpoint.split('.')[0].title() }}</a>
            </li>
        </ul>
    {% endif %}
    <div class="table-wrapper mt-1">
        <table class="table table-sm table-bordered table-striped table-dark" id="{{ tbl_id_name }}">
            <thead>
                <tr>
                    {% for hdr in header_maps.keys() %}
                        <th>{{ hdr }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for entry in results_list %}
                <tr>
                    {%  for k in header_maps.values() %}
                        <td class="{{ "copyable" if k['copyable'] else "" }}">
                            {% if k['path'] %}
                                <a href="{{ k['path']|format(entry[k['col']]) }}" role="button">{{ entry[k['col']] }}</a>
                            {% else %}
                                {{ entry[k['col']] }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    {% if results_list| length > 0 %}
                        {% for i in range(results_list[0].keys()| length) %}
                            {%  if i == results_list[0].keys()| length - 1 %}
                                <td>Total: {{ results_list| length }} </td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block footer %}
    {% if last_update %}
         File Updated: {{  last_update.strftime('%F %T') }}
    {% endif %}
{% endblock %}
