/* main page */
body {
    padding-bottom: 70px;
}
.nav-logo {
    width: 25px;
}

.nav-item.active > a {
    color: #ffdb00 !important;
}

/* footer */
footer .container {
    width: 100%;
    line-height: 60px;
}

.secret-entry {
    transition: background-color 0.1s linear;
}
.secret-entry:hover {
    background-color: rgba(127, 255, 212, 0.63);
    cursor: copy;
}