/* main page */
body {
    padding-bottom: 70px;
}
.nav-logo {
    width: 25px;
}

.nav-item.active > a {
    color: #ffdb00 !important;
}

/* footer */
footer .container {
    width: 100%;
    line-height: 60px;
}

.secret-entry {
    transition: background-color 0.1s linear;
}
.secret-entry:hover {
    background-color: rgba(127, 255, 212, 0.63);
    cursor: copy;
}

/* Keygen Form */
.form-wrapper h2 {
    padding-top: 15px;
    padding-bottom: 5px;
}
form.keygen-form {
    display: grid;
    grid-template-columns: max-content;
    grid-gap: 5px;
}
.keygen-form fieldset {
    text-align: right;
}
.keygen-form label:after {
    content: ':';
}
.form-field label {
    color: #797979
}
.form-field input {
    border: 1px solid #c6c6c6 !important;
    border-radius: 5px;
}
#submit {
    border: none;
    border-radius: 5px;
    background-color: #1983cc;
    color: #e3e3e3;
}

/* key detail */

.key-title {
    padding-top: 15px;
}

.key-title,
.key-attr-title {
    font-weight: bold;
}
.key-detail-table td {
    padding-right: 10px;
}
.key-attr-title:after {
    content: ':';
}
.key-detail-table {
    width: 100%;
}
.key-detail-table tr {
    border-bottom: 1px dotted #797979;
}